/*Обнуление стилей*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
/*меняет подсчет ширины блока так, чтобы еам быдл удобно верстать*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*Убираем линии обводки у некоторых браузеров*/
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

/*Делаем блочными нужные теги*/
nav,footer,header,aside{display: block;}

/*Обнуляем поведение шрифтов*/
html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 100%;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*Обнуляем заголовки*/
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

/*------------------------------------------------------------------------------*/
p{
    margin: 10px;
}
.bigFont {
    font-size: 30px;
    color: blue;
}

.smallFont {
    font-size: 10px;
    color: darkmagenta;
}

span {
    font-size: 20px;
    color: red;
}

/*Стилизовать все теги span с классом bigFont*/
span.bigFont {
    color: darkgreen;
}

/*Только tag внутри class поменял стиль*/
.smallFont span {
    font-size: 15px;
    background: orange;
}

/*Обращение к вложенному элементу первого уровня*/
.firstLvl > p {
    background: dimgray;
}

